{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "env": {
        "es6": true
    },
    "rules": {
        "semi": [
            2,
            "never"
        ],
        "quotes": [
            2,
            "single",
            "avoid-escape"
        ]
    }
}